!!!
%html
%body
  %h1 Welcome to PAPs NEWS
  %h2 Spread the knowledge!

- @articles.each do |article|
  %p= link_to "#{article.title}", article_path(article)
  %p= sanitize(truncate(article.content, length: 150))

.footer
  %h2 Contacts
  %br/
  %p icons go here
  %br/
