%h1 Subscription
= form_with url: subscription_index_path do
  %script.stripe-button{ src: 'https://checkout.stripe.com/checkout.js',
    data: {amount: 1000,
    description: 'Subscribe to PAP\'s News',
    key: "#{ENV['STRIPE_APP']}",
    currency: 'sek',
    email: "#{current_user.email if current_user}"}}
