body {
  background-image: url("../images/picture");
}
.nav-link {
  font-family: 'Palanquin', sans-serif;
  font-size: 20px;
  color: black;
  background-color: white;
  margin-left: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-family: 'Limelight', cursive;
  text-align: center;
  font-size: 60px;
  padding: 5%;
}

h2 {
  text-align: center;
  margin-top: 0;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 80px;
}


.nav-link {
  font-family: 'Palanquin', sans-serif;
  font-size: 20px;
  color: black;
  margin-left: 0;
  padding: 0;
}
.bg-light {
    background-color: #72E07D   !important;
}
//
// .jumbotron {
//   margin-top: 0rem;
//   margin-bottom: 0rem;
//   background: #EFF2F0;
//   background-size: 100%;
//   min-height: 600px;
//   background-repeat: no-repeat;
// }

.lead {
    font-size: 2.25rem;
    font-weight: bold;
}

p {
  font-size: 25px;
}

// h1 {
//   font-family: 'Fredericka the Great', cursive;
//   text-align: center;
//   font-size: 60px;
//   padding: 5%;
//   color: #72E07D;
// }


h3 {
  margin-top: 40px;

}

body,
element.style {
  text-align: center;
  font-family: 'Palanquin', sans-serif;
  font-size: 20px;
  color: black;
  max-height: 500px;
}

p {
  font-size: 18px;
}

input, button, select, optgroup, textarea {
    color: #72E07D;
    margin: 9px;
}

.container-fluid {
  min-height: 700px;
  background-image: url('https://images.unsplash.com/photo-1519894455038-33bae231d38e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=805c223b8e739aa1052058f2d0979b29&auto=format&fit=crop&w=1366&q=80');
}
.footer {
  padding: 1%;
  margin-top: 300px;
  min-height: 200px;
  background-color: black;
  color: white;
}
