body {
  background-image: url('../images/ZenBG.png');
}
.nav-link {
  font-family: 'Palanquin', sans-serif;
  font-size: 20px;
  color: black;
  background-color: white;
  margin-left: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-family: 'Limelight', cursive;
  text-align: center;
  font-size: 60px;
  padding: 5%;
}

h2 {
  text-align: center;
  margin-top: 0;
}
